# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Git
.git/
.gitignore

# Airflow runtime files
airflow/logs/
airflow/logs/**
airflow/logs/**/*
airflow/.airflowignore

# Python cache
**/__pycache__/
**/*.pyc

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Temporary files
*.tmp
*.temp

# Build/cache
.pytest_cache/
.mypy_cache/