DB_HOST=localhost
DB_PORT=5432
DB_USER=your_username
DB_PASSWORD=your_password
DB_NAME=ecommerce_oltp

NUM_BRANDS=30
NUM_SELLERS=500
NUM_CUSTOMERS=5000
NUM_PRODUCTS=8000
NUM_PROMOTIONS=100
NUM_ORDERS=20000